.textCenter {
    text-align: center;
}

/* Chrome, Safari, Edge, Opera hide arrows for input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox hide arrows for input */
input[type=number] {
    -moz-appearance: textfield;
}