@import 'include-media';

.container {
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: var(--table-min-width);
    text-align: left;

    @include media('<tablet') {
        width: 95%;
    }

    @include media('>tablet') {
        width: 30%;
    }
}


.backgroundImage {
    background: url("../../../public/siteofgrace2.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}