.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: aqua;
}

.footerSubContainer {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        flex-direction: row;
    }
}

.negativeTextColor {
    color: red;
}

.positiveTextColor {
    color: green;
}



