.footer {
    position: sticky;
    bottom: 0;
    background-color: #282c34;

    .flexContainer {
        display: flex;
    }
    
    .flexGap {
        gap: 10px;
    }

    .centerContent {
        justify-content: center;
    }

    .textLeft {
        text-align: left;
    }

    .textRight {
        text-align: right;
    }

    .positiveTextColor {
        color: green;
    }

    .negativeTextColor {
        color: red;
    }
}



